In [1]:
# Reading json file
import pandas as pd
a=pd.read_json('pdfile3.json')
print(a)

   Student_Id  Python_Marks  DS_Marks  DA_Marks
0       S_101            67        77        80
1       S_102            89        88        90
2       S_103           100        99       100
3       S_104            90        66        78
4       S_105            87        55        39
5       S_106            59        44        48
6       S_107            39        45        58
7       S_108            69        49        69
8       S_109            78        89        29
9       S_110            78        67        49
10      S_111            49        39        59
11      S_112            90        67        60
12      S_113            80        77        59
13      S_114            78        78        77
14      S_115            89        89        88
15      S_116            60        89        99
16      S_117            90       100        66
17      S_118            61        90        55
18      S_119            98        87        44
19      S_120            76        59        56
20      S_121            67        39        57
21      S_122            80        69        89
22      S_123            90        78        89
23      S_124           100        78        90
24      S_125            78        49        98
25      S_126            39        90        97
26      S_127            48        80        66
27      S_128            58        78        69
28      S_129            69        89        98
29      S_130            29        60        89
30      S_131            49        90        87
31      S_132            59        61        78
32      S_133            60        98        67
33      S_134            59        77        86
34      S_135            77        56        78
35      S_136            88        89        89
36      S_137            99        89        90
37      S_138            66        67        97
38      S_139            55        45        95
39      S_140            44        67        67
40      S_141            45        78        43
41      S_142            49        56        56
42      S_143            89        89        67
43      S_144            67        90        78
44      S_145            39       100        89
45      S_146            67        18        90
46      S_147            77        45        67
47      S_148            78        67        44
48      S_149            89        80        56

In [2]:
import pandas as pd
import mysql.connector
#Database details
host='127.0.0.1'
user='root'
password='J@tin145#'
database='flipkart'
#establish a connection to the mysql database
connection=mysql.connector.connect(host=host,user=user,password=password,database=database)
query='SELECT * FROM products'
df=pd.read_sql(query,connection)
connection.close()
print(df)

                           ProductName   Brand  Ratings  No_of_ratings  \
0        realme 9i (Prism Blue, 64 GB)  realme      4.5         111865
1       realme 9i (Prism Black, 64 GB)  realme      4.5         111865
2       realme 9i (Prism Blue, 128 GB)  realme      4.5          25380
3      realme 9i (Prism Black, 128 GB)  realme      4.5         111865
4       realme 9i (Prism Blue, 128 GB)  realme      4.5         111865
..                                 ...     ...      ...            ...
270   vivo T1X (Gravity Black, 128 GB)    vivo      4.5          65274
271      vivo T1X (Space Blue, 128 GB)    vivo      4.5          65274
272  realme 9 (Stargaze White, 128 GB)  realme      4.4          19675
273   POCO M4 5G (Power Black, 128 GB)    POCO      4.1          21734
274   realme 9 (Sunburst Gold, 128 GB)  realme      4.4          19675

     No_of_reviews    MSP    MRP  Discount
0             6611  10999  15999      5000
1             6611  10999  15999      5000
2             1517  13499  17999      4500
3             6611  10999  16999      6000
4             6611  10999  16999      6000
..             ...    ...    ...       ...
270           3701  12999  17990      4991
271           3701  12999  17990      4991
272           1484  14999  22999      8000
273           1799  12999  18999      6000
274           1484  14999  22999      8000

[275 rows x 8 columns]

C:\Users\jatin\AppData\Local\Temp\ipykernel_9692\2588602523.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query,connection)

In [ ]:
#adding new column
import pandas as pd 
#creating a dataframe
mydata={'Name':['Kuniket','Mrudul','Shubham','Pallavi'],'Age':[25,26,30,27]}
a=pd.DataFrame(mydata)
#adding new column
a['City']=['Nagpur','Pune','Satara','Mumbai']
print(a)

In [ ]:
#adding new column
import pandas as pd 
#creating a dataframe
mydata={'Name':['Kuniket','Mrudul','Shubham','Pallavi'],'Age':[25,26,30,27]}
a=pd.DataFrame(mydata)
#adding new column
a['City']=['Nagpur','Pune','Satara','Mumbai']
print(a)
#removing the 'age'column
b=a.drop('Age',axis=1)
print(b)

In [ ]:
import pandas as pd 
#creating a sample DataFrame
data={
    'Product':['A','B','A','B','A','B','A','A'],
    'Region':['NOrth','South','NOrth','South','NOrth','South','NOrth','South'],
    'Sales':[100,150,200,120,180,130,220,170]
}
a=pd.DataFrame(data)
print("Original DataFrame:")
print(a)

In [ ]:
import pandas as pd 
#creating a sample DataFrame
data={
    'Product':['A','B','A','B','A','B','A','A'],
    'Region':['NOrth','South','NOrth','South','NOrth','South','NOrth','South'],
    'Sales':[100,150,200,120,180,130,220,170]
}
a=pd.DataFrame(data)
#aggregating total sales per product
total_sales=a.groupby('Product')['Sales'].sum()
print("\nTotal sales per Product:")
print(total_sales)

In [ ]:
import pandas as pd 
#creating a sample DataFrame
data=[
    {'Name':'Rakesh','Age':25,'City':'Pune'},
    {'Name':'Pushpak','Age':21},
    {'Name':'Mrudul','Age':27,'City':'Chandrapur'},
    {'Age':25,'City':'Nagpur'},
]
a=pd.DataFrame(data)
# Display the resulting DataFrame
print("Dataframe from ragged Data:")
print(a)