In [1]:
import pandas as pd 
a=[1,2,7]
b=pd.Series(a)
print(b[0])

1

In [3]:
#labling
import pandas as pd 
a=[1,7,2]
b=pd.Series(a,index =["x","y","z"])
print(b)

x    1
y    7
z    2
dtype: int64

In [5]:
#creating lable and accessing them
import pandas as pd 
a=[1,7,2]
b=pd.Series(a,index =["x","y","z"])
print(b["y"])

7

In [7]:
#using dictionary for create a set
mydata={"day1":420,"day2":380,"day3":390}
a=pd.Series(mydata)
print(a)

day1    420
day2    380
day3    390
dtype: int64

In [13]:
#accesing item using key
mystudents={"student1":42,"student2":38,"student3":39}
a=pd.Series(mystudents,index=["student1","student3"])
print(a)

student1    42
student3    39
dtype: int64

In [17]:
#creating a data frane from two series
import pandas as pd
mydata={"English":[420,380,390],"Hindi":[50,40,45]}
a=pd.DataFrame(mydata)
print(a)

   English  Hindi
0      420     50
1      380     40
2      390     45

In [19]:
#locating rows
mydata={"studentid":[1,2,3],"Marks":[50,40,45]}
#load data into a DataFrame object
a=pd.DataFrame(mydata)
print(a.loc[0])

studentid     1
Marks        50
Name: 0, dtype: int64

In [21]:
#locating rows
mydata={"studentid":[1,2,3],"Marks":[50,40,45]}
#load data into a DataFrame object
a=pd.DataFrame(mydata)
print(a.loc[[0,1]])

   studentid  Marks
0          1     50
1          2     40

In [23]:
#locating rows
mydata={"Subject":["Eng","Hin","Mat"],"Marks":[50,40,45]}
#load data into a DataFrame object
a=pd.DataFrame(mydata,index=["Student1","Student2","Student3"])
print(a)

         Subject  Marks
Student1     Eng     50
Student2     Hin     40
Student3     Mat     45

In [27]:
#locating rows
mydata={"Subject":["Eng","Hin","Mat"],"Marks":[50,40,45]}
#load data into a DataFrame object
a=pd.DataFrame(mydata,index=["Student1","Student2","Student3"])
print(a.loc["Student2"])

Subject    Hin
Marks       40
Name: Student2, dtype: object