In [2]:
# reading csv

import pandas as pd

a= pd.read_csv('pdfile.csv')
print(a.to_string())

   Student_Id  Python_Marks  DS_Marks  DA_Marks
0       S_101            67        77        80
1       S_102            89        88        90
2       S_103           100        99       100
3       S_104            90        66        78
4       S_105            87        55        39
5       S_106            59        44        48
6       S_107            39        45        58
7       S_108            69        49        69
8       S_109            78        89        29
9       S_110            78        67        49
10      S_111            49        39        59
11      S_112            90        67        60
12      S_113            80        77        59
13      S_114            78        78        77
14      S_115            89        89        88
15      S_116            60        89        99
16      S_117            90       100        66
17      S_118            61        90        55
18      S_119            98        87        44
19      S_120            76        59        56
20      S_121            67        39        57
21      S_122            80        69        89
22      S_123            90        78        89
23      S_124           100        78        90
24      S_125            78        49        98
25      S_126            39        90        97
26      S_127            48        80        66
27      S_128            58        78        69
28      S_129            69        89        98
29      S_130            29        60        89
30      S_131            49        90        87
31      S_132            59        61        78
32      S_133            60        98        67
33      S_134            59        77        86
34      S_135            77        56        78
35      S_136            88        89        89
36      S_137            99        89        90
37      S_138            66        67        97
38      S_139            55        45        95
39      S_140            44        67        67
40      S_141            45        78        43
41      S_142            49        56        56
42      S_143            89        89        67
43      S_144            67        90        78
44      S_145            39       100        89
45      S_146            67        18        90
46      S_147            77        45        67
47      S_148            78        67        44
48      S_149            89        80        56

In [4]:
# reading json

import pandas as pd

a= pd.read_json('pdfile5.txt')
print(a)

   Student_Id  Python_Marks  DS_Marks  DA_Marks
0       S_101            67        77        80
1       S_102            89        88        90
2       S_103           100        99       100
3       S_104            90        66        78
4       S_105            87        55        39
5       S_106            59        44        48
6       S_107            39        45        58
7       S_108            69        49        69
8       S_109            78        89        29
9       S_110            78        67        49
10      S_111            49        39        59
11      S_112            90        67        60
12      S_113            80        77        59
13      S_114            78        78        77
14      S_115            89        89        88
15      S_116            60        89        99
16      S_117            90       100        66
17      S_118            61        90        55
18      S_119            98        87        44
19      S_120            76        59        56
20      S_121            67        39        57
21      S_122            80        69        89
22      S_123            90        78        89
23      S_124           100        78        90
24      S_125            78        49        98
25      S_126            39        90        97
26      S_127            48        80        66
27      S_128            58        78        69
28      S_129            69        89        98
29      S_130            29        60        89
30      S_131            49        90        87
31      S_132            59        61        78
32      S_133            60        98        67
33      S_134            59        77        86
34      S_135            77        56        78
35      S_136            88        89        89
36      S_137            99        89        90
37      S_138            66        67        97
38      S_139            55        45        95
39      S_140            44        67        67
40      S_141            45        78        43
41      S_142            49        56        56
42      S_143            89        89        67
43      S_144            67        90        78
44      S_145            39       100        89
45      S_146            67        18        90
46      S_147            77        45        67
47      S_148            78        67        44
48      S_149            89        80        56

In [9]:
# reading sls

import pandas as pd

a= pd.read_excel('pdfile1.xls')
print(a)

   Student_Id  Python_Marks  DS_Marks  DA_Marks
0       S_101            67        77        80
1       S_102            89        88        90
2       S_103           100        99       100
3       S_104            90        66        78
4       S_105            87        55        39
5       S_106            59        44        48
6       S_107            39        45        58
7       S_108            69        49        69
8       S_109            78        89        29
9       S_110            78        67        49
10      S_111            49        39        59
11      S_112            90        67        60
12      S_113            80        77        59
13      S_114            78        78        77
14      S_115            89        89        88
15      S_116            60        89        99
16      S_117            90       100        66
17      S_118            61        90        55
18      S_119            98        87        44
19      S_120            76        59        56
20      S_121            67        39        57
21      S_122            80        69        89
22      S_123            90        78        89
23      S_124           100        78        90
24      S_125            78        49        98
25      S_126            39        90        97
26      S_127            48        80        66
27      S_128            58        78        69
28      S_129            69        89        98
29      S_130            29        60        89
30      S_131            49        90        87
31      S_132            59        61        78
32      S_133            60        98        67
33      S_134            59        77        86
34      S_135            77        56        78
35      S_136            88        89        89
36      S_137            99        89        90
37      S_138            66        67        97
38      S_139            55        45        95
39      S_140            44        67        67
40      S_141            45        78        43
41      S_142            49        56        56
42      S_143            89        89        67
43      S_144            67        90        78
44      S_145            39       100        89
45      S_146            67        18        90
46      S_147            77        45        67
47      S_148            78        67        44
48      S_149            89        80        56

In [11]:
# reading sls

import pandas as pd

a= pd.read_excel('pdfile2.xlsx')
print(a)

   Student_Id  Python_Marks  DS_Marks  DA_Marks
0       S_101            67        77        80
1       S_102            89        88        90
2       S_103           100        99       100
3       S_104            90        66        78
4       S_105            87        55        39
5       S_106            59        44        48
6       S_107            39        45        58
7       S_108            69        49        69
8       S_109            78        89        29
9       S_110            78        67        49
10      S_111            49        39        59
11      S_112            90        67        60
12      S_113            80        77        59
13      S_114            78        78        77
14      S_115            89        89        88
15      S_116            60        89        99
16      S_117            90       100        66
17      S_118            61        90        55
18      S_119            98        87        44
19      S_120            76        59        56
20      S_121            67        39        57
21      S_122            80        69        89
22      S_123            90        78        89
23      S_124           100        78        90
24      S_125            78        49        98
25      S_126            39        90        97
26      S_127            48        80        66
27      S_128            58        78        69
28      S_129            69        89        98
29      S_130            29        60        89
30      S_131            49        90        87
31      S_132            59        61        78
32      S_133            60        98        67
33      S_134            59        77        86
34      S_135            77        56        78
35      S_136            88        89        89
36      S_137            99        89        90
37      S_138            66        67        97
38      S_139            55        45        95
39      S_140            44        67        67
40      S_141            45        78        43
41      S_142            49        56        56
42      S_143            89        89        67
43      S_144            67        90        78
44      S_145            39       100        89
45      S_146            67        18        90
46      S_147            77        45        67
47      S_148            78        67        44
48      S_149            89        80        56

In [12]:
# reading json file

import pandas as pd

a= pd.read_json('pdfile3.json')
print(a)

   Student_Id  Python_Marks  DS_Marks  DA_Marks
0       S_101            67        77        80
1       S_102            89        88        90
2       S_103           100        99       100
3       S_104            90        66        78
4       S_105            87        55        39
5       S_106            59        44        48
6       S_107            39        45        58
7       S_108            69        49        69
8       S_109            78        89        29
9       S_110            78        67        49
10      S_111            49        39        59
11      S_112            90        67        60
12      S_113            80        77        59
13      S_114            78        78        77
14      S_115            89        89        88
15      S_116            60        89        99
16      S_117            90       100        66
17      S_118            61        90        55
18      S_119            98        87        44
19      S_120            76        59        56
20      S_121            67        39        57
21      S_122            80        69        89
22      S_123            90        78        89
23      S_124           100        78        90
24      S_125            78        49        98
25      S_126            39        90        97
26      S_127            48        80        66
27      S_128            58        78        69
28      S_129            69        89        98
29      S_130            29        60        89
30      S_131            49        90        87
31      S_132            59        61        78
32      S_133            60        98        67
33      S_134            59        77        86
34      S_135            77        56        78
35      S_136            88        89        89
36      S_137            99        89        90
37      S_138            66        67        97
38      S_139            55        45        95
39      S_140            44        67        67
40      S_141            45        78        43
41      S_142            49        56        56
42      S_143            89        89        67
43      S_144            67        90        78
44      S_145            39       100        89
45      S_146            67        18        90
46      S_147            77        45        67
47      S_148            78        67        44
48      S_149            89        80        56

In [14]:
# reading qulite file
import sqlite3

# connect to the sqlite database
a= sqlite3.connect('pdfile4.db')
# write your sql qyary

query= 'SELECT * FROM myinfo;'
b= pd.read_sql(query,a)
# claose the database conncetion

a.close()
# display the dataframe
print(b)

   id first_name  last_name                      email      mobile  age
0   1     Kuldip   Fulpagar  kuldip.fulpagar@gmail.com  9879876543   30
1   2      Priti  Sharnagat  priti.sharnagat@gmail.com  9876543217   27
2   3      Swati      Sarve      sarve.swati@gmail.com  9898989898   17
3   4     Palash     Sahare    palash.sahare@gmail.com  7891787651   29
4   5     Dhiraj     Borkar     dhira.borkar@gmail.com  8798765432   24

In [2]:
import pandas as pd
# select single column
# create dataframe
mydata= {'class1':['Diksha','Sayali','Vaishnavi'],'class2':['Karan','Gautam','Arpan'],'class3':['Venkytesh','Pawan','Nilesh']}

a= pd.DataFrame(mydata)
# select a single column
b= a['class2']
print(b)

# selecting multipal column
c= a[['class2','class3']]
print(c)

# set row lable
a.index=['X','Y','Z']
#selecting rows by lable 
c=a.loc['Y']
print(c)
#selecting rows by index
d=a.iloc[1]
print(d)

0     Karan
1    Gautam
2     Arpan
Name: class2, dtype: object
   class2     class3
0   Karan  Venkytesh
1  Gautam      Pawan
2   Arpan     Nilesh
class1    Sayali
class2    Gautam
class3     Pawan
Name: Y, dtype: object
class1    Sayali
class2    Gautam
class3     Pawan
Name: Y, dtype: object

In [8]:
import pandas as pd 
#creating a dataframe 
data={'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]}
a=pd.DataFrame(data)
#filtering rows based on a condition
e=a[a['B']>4]
print(e)
#filtering rows using query string
f=a.query('B>4')
print(f)

   A  B  C
1  2  5  8
2  3  6  9
   A  B  C
1  2  5  8
2  3  6  9

In [12]:
import pandas as pd
# select single column
# create dataframe
mydata= {'class1':['Diksha','Sayali','Vaishnavi'],'class2':['Karan','Gautam','Arpan'],'class3':['Venkytesh','Pawan','Nilesh']}
a= pd.DataFrame(mydata)
#sorting DataFrame by values of a column
g=a.sort_values('class2')
print(g)
#sorting DataFrame by index
h=a.sort_index(ascending=False)
print(h)

      class1  class2     class3
2  Vaishnavi   Arpan     Nilesh
1     Sayali  Gautam      Pawan
0     Diksha   Karan  Venkytesh
      class1  class2     class3
2  Vaishnavi   Arpan     Nilesh
1     Sayali  Gautam      Pawan
0     Diksha   Karan  Venkytesh

In [16]:
import pandas as pd
# select single column
# create dataframe with mising values
data={'A':[1,2,None,4],
     'B':[5,None,7,8],
     'C':[None,10,11,12]}
df=pd.DataFrame(data)
#checking for mising values
print(df.isnull())
# Droping rows with mising values
df.dropna(inplace=True)
print(df)

       A      B      C
0  False  False   True
1  False   True  False
2   True  False  False
3  False  False  False
     A    B     C
3  4.0  8.0  12.0

In [22]:
import pandas as pd
#sample dataframe
df=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
#add a new column
df['Total']=df['A']+df['B']
print(df)
#rename column
df.rename(columns={'A':'Column_A','B':'Column_B'},inplace=True)
print(df)
#drop column
df.drop(columns=['Column_B'],inplace=True)
print(df)
#apply a function
df['Total']=df['Total'].apply(lambda x:x*2)
print(df)

   A  B  Total
0  1  4      5
1  2  5      7
2  3  6      9
   Column_A  Column_B  Total
0         1         4      5
1         2         5      7
2         3         6      9
   Column_A  Total
0         1      5
1         2      7
2         3      9
   Column_A  Total
0         1     10
1         2     14
2         3     18

In [24]:
import pandas as pd
df1=pd.DataFrame({'A':[1,2],'B':[3,4]})
df2=pd.DataFrame({'A':[5,6],'B':[7,8]})
#concatenate dataframe vertically
verticaldf=pd.concat([df1,df2])
print(verticaldf)
#concatenate dataframe horizontally
horizontaldf=pd.concat([df1,df2],axis=1)
print(horizontaldf)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [26]:
df1=pd.DataFrame({'column':['A','B','C'],'values':[1,2,3]})
df2=pd.DataFrame({'column':['B','C','D'],'values':[4,5,6]})
# Merging dataframe on column
result=pd.merge(df1,df2,on='column')
print(result)

  column  values_x  values_y
0      B         2         4
1      C         3         5