In [8]:
#1
name="Jatin Chaurawar"
age=23
height=6
print(name)
print(age,"year")
print(height,"ft")

Jatin Chaurawar
23 year
6 ft

In [10]:
#2
str1=str(input("enter character"))
num1=int(input("enter number"))
num2=float(input("enter number"))
print(str1)
print(type(str1))
print(num1)
print(type(num1))
print(num2)
print(type(num2))

enter character jatin
enter number 2
enter number 3.4

jatin
<class 'str'>
2
<class 'int'>
3.4
<class 'float'>

In [14]:
#3
str1=str(input("Enter your Name: "))
str2=str1.upper()
str3=str1.lower()
print(str2)
print(str3)

Enter your Name:  Jatin

JATIN
jatin

In [85]:
#4
str1=str(input("Enter your Name: "))
x=str1.count("a")
print(x)

Enter your Name:  jatin

1

In [28]:
#5
name=str(input("Enter your Name: "))
age=int(input("Enter your Age: "))
sentence="Hello, my name is {} and I am {} year old".format(name,age)
print(sentence)

Enter your Name:  jatin
Enter your Age:  23

Hello, my name is jatin and I am 23 year old

In [36]:
#6
num1=float(input("enter number"))
num2=float(input("enter number"))
num3=num1+num2
num4=num1-num2
num5=num1*num2
num6=num1/num2
print("Sum is:",num3)
print("Difference is:",num4)
print("Product is:",num5)
print("Quotient is:",num6)

enter number 10
enter number 5

Sum is: 15.0
Difference is: 5.0
Product is: 50.0
Quotient is: 2.0

In [42]:
#7
width=float(input("Enter width"))
height=float(input("Enter height"))
area=width*height
print("Area of Rectsngle is:",area)

Enter width 10
Enter height 5

Area of Rectsngle is: 50.0

In [60]:
#8
num1=float(input("enter number"))
if  num1%2==0:
    print("Number is Even")
elif num1%2==1:
    print("Nunber is Odd")

enter number 4

Number is Even

In [50]:
#9
age=int(input("Enter your Age: "))
if age<13:
    print("Children")
elif age>=13 and age<=19:
    print("Teenagers")
else:
    print("Adult")

Enter your Age:  23

Adult

In [64]:
#10
str1=str(input("Enter string: "))
if "python"in str1:
    print("Word found")
else:
    print("word not found")

Enter string:  you

word not found