In [2]:
myclass={
    "student1":{"name":"Shrikant","gender":"male"},
    "student2":{"name":"Gurpreet","gender":"male"},
    "student3":{"name":"Nayna","gender":"female"},
}
print(myclass)

{'student1': {'name': 'Shrikant', 'gender': 'male'}, 'student2': {'name': 'Gurpreet', 'gender': 'male'}, 'student3': {'name': 'Nayna', 'gender': 'female'}}

In [18]:
student_grades={
    'student1':{'Pythin':90,'Data Science':85,'Data Analytics':92},
    'student2':{'Pythin':88,'Data Science':91,'Data Analytics':89}
}
for student,courses in student_grades.items():
    avg_grades=sum(courses.values())/len(courses)
    print(f"{student}'s average grade:{avg_grades}")

student1's average grade:89.0
student2's average grade:89.33333333333333

In [8]:
main_dictionary={
    'person1':{'name':'akansha','age':22,'address':{'city':'shankar nagar','zipcode':'410210'}},
    'person2':{'name':'nayna','age':25,'address':{'city':'gayatri nagar','zipcode':'440027'}}
}
print(main_dictionary['person1']['name'])
print(main_dictionary['person2']['address']['city'])
print(main_dictionary['person2']['age'])

akansha
gayatri nagar
25

In [22]:
family_tree={
    'grandfather':{'name':'Rana sen','spouse':'Priyanka misra',
    'children':{'son':{'name':'Nimish sen',
    'children':{}},'daughter':{'name':'Niarika sen','children':{}}}}
}
print(family_tree['grandfather']['children']['son']['name'])
print(family_tree['grandfather']['children']['daughter']['name'])

Nimish sen
Niarika sen

In [24]:
student1={"name":"Gurpreet","gender":"male"}
student2={"name":"Shrikant","gender":"male"}
student3={"name":"Akansha","gender":"female"}
myclass={
    "student1":student1,
    "student2":student2,
    "student3":student3
}
print(myclass)

{'student1': {'name': 'Gurpreet', 'gender': 'male'}, 'student2': {'name': 'Shrikant', 'gender': 'male'}, 'student3': {'name': 'Akansha', 'gender': 'female'}}

In [22]:
Python={'subid':1,'subname':'python','timing':'1:00pm','marks':90}
DS={'subid':2,'subname':'data sci','timing':'2:00pm','marks':92}
DA={'subid':3,'subname':'data any','timing':'3:00pm','marks':94}
myclasses={
    'subjet1':Python,
    'subjet2':DS,
    'subjet3':DA
}
Python.update({'taughby':'Rashmi mam'})
DS.pop('marks')
DA['subname']=['Data Science']
print(myclasses)

{'subjet1': {'subid': 1, 'subname': 'python', 'timing': '1:00pm', 'marks': 90, 'taughby': 'Rashmi mam'}, 'subjet2': {'subid': 2, 'subname': 'data sci', 'timing': '2:00pm'}, 'subjet3': {'subid': 3, 'subname': ['Data Science'], 'timing': '3:00pm', 'marks': 94}}