In [6]:
# Defining a function
def my_function():
    print("Hello")
my_function()

Hello

In [10]:
#using default argument
def greet(name,greeting="Hello"):
    print(f"{greeting},{name}!")
greet("Rashmi")
greet("Rashmi","Hi")

Hello,Rashmi!
Hi,Rashmi!

In [12]:
# using require arguments
def add_number(a,b):
    return a+b
# calling with require arguments
result=add_number(3,5)
print(result)
# Uncommenting the line below would result in a typeerror
#result=add_number(3)
#

8

In [18]:
#using keyword arguments
def student_info(name,age,gender):
    print(f"Name:{name},Age:{age},Gender{gender}")
student_info(name="Rashmi",age=40,gender="female")
student_info(age=35,gender="female",name="Riya")

Name:Rashmi,Age:40,Genderfemale
Name:Riya,Age:35,Genderfemale

In [20]:
def sum(a,b):
    print(f"{a}+{b}={a+b}")
sum(2,3)

2+3=5

In [22]:
def calculate_area(radius):
    '''
    We are calculating the are of circle.
    Parameters:The radius of circle
    returns:float:The area of circle.
    '''
    pi=3.1415
    area=pi*radius**2
    return area 
a=calculate_area(4)
print("The area of the circle is:",a)
print(calculate_area.__doc__)

The area of the circle is: 50.264

    We are calculating the are of circle.
    Parameters:The radius of circle
    returns:float:The area of circle.

In [24]:
#global variable 
myvar=10
def my_function():
    #local variable
    localvar=5
    print("Inside the function:")
    print("Accessing Local variabe:",localvar)
    print("Accessing Global variable",myvar)
my_function()
#print("Accessing Local variable:",localvar)
print("Accessing Global variable",myvar)

Inside the function:
Accessing Local variabe: 5
Accessing Global variable 10
Accessing Global variable 10

In [6]:
def divide_or_square(number):
    if number % 5==0:
        sq_root=number**0.5
        print(sq_root)
    else:
        remainder=number%5
        print(remainder)
div=divide_or_square(25)

5.0

In [8]:
def longest_value(d:dict):
    longest=max(d.values(),key=len)
    return longest
fruits={'fruit':'apple','colour':'green'}
print(longest_value(fruits))

apple

In [10]:
def convert_add(a):
    b=[]
    for i in a:
        b.append(int(i))
    return sum(b)
print(convert_add(['1','3','5']))

9

In [14]:
def check_duplicates(a):
    for x in a:
        if a.count(x)>1:
            return x
        else:
            return 'No Duplicates'
fruits=['Apple','orange','Banana','Apple']
names=['Kuniket','Rakesh','Mrudul','pushpak']
print(check_duplicates(fruits))
print(check_duplicates(names))

Apple
No Duplicates

In [20]:
register={'sarthak':'yes','Harsh':'no','Saachi':'yes','Chanakshi':'yes'}
def register_check(a):
    count=0
    for x in a.values():
        if x=='yes':
            count+=1
    return 'Number of students in school is ',count 
print(register_check(register))

('Number of students in school is ', 3)

In [24]:
def get_lower_sorted_tuple(names):
    d=[]
    for x in sorted(names,reverse=True):
        if x.islower():
            d.append(x)
    mytuple=tuple(d)
    return mytuple
names=["kuniket","madhu","Shubham","Pallavi","pratham","Pushpak","rakesh"]
result=get_lower_sorted_tuple(names)
print(result)

('rakesh', 'pratham', 'madhu', 'kuniket')

In [ ]:
def only_floats(a,b):
    if x in a.digit(float):
        print()