In [2]:
#printing number from 0 to 4
n=5 
for i in range(0,n):
    print(i)

0
1
2
3
4

In [4]:
#printing number from 0 to 4
n=5 
for i in range(0,n):
    print(i,end=" ")

0 1 2 3 4

In [10]:
values=range(4,20,2)
for i in values:
    print(i,end=" ")

4 6 8 10 12 14 16 18

In [14]:
values=range(20,4,-2)
for i in values:
    print(i,end=" ")

20 18 16 14 12 10 8 6

In [16]:
digits =[0,1,5]
for i in digits:
    print(i)
else:
    print("No items Left.")

0
1
5
No items Left.

In [40]:
mydata=(3,4,6,8,9,2,3,4,8,9,7)
for a in mydata:
    if a%2!=0:
        print(a,end=" ")
else:
    print(" ")
    print("These are the odd numbers present in mydata")

3 9 3 9 7
These are the odd numbers present in mydata

In [32]:
mydata=(3,4,6,8,9,2,3,4,8,9,7)
for a in mydata:
    if a%2!=0:
        print(a)
    else:
        print("These are the odd numbers present in mydata")

3
These are the odd numbers present in mydata
These are the odd numbers present in mydata
These are the odd numbers present in mydata
9
These are the odd numbers present in mydata
3
These are the odd numbers present in mydata
These are the odd numbers present in mydata
9
7

In [34]:
mylist=[1,4,6]
for a in  mylist:
    print("Hello Everyonr")
    print("Bye")

Hello Everyonr
Bye
Hello Everyonr
Bye
Hello Everyonr
Bye

In [38]:
words=["Apple","Banana","Car","Dolphin"]
for a in words:
    print("The following lines will print each letters of"+a)
    for b in a:
        print(b)
        print(" ")

The following lines will print each letters ofApple
A

p

p

l

e

The following lines will print each letters ofBanana
B

a

n

a

n

a

The following lines will print each letters ofCar
C

a

r

The following lines will print each letters ofDolphin
D

o

l

p

h

i

n

In [46]:
#sum from 1 to 100
total=0
for i in range(1,101):
    total+=i
print("The sum is:",total)

The sum is: 5050

In [60]:
#sum from 1 to 100 of even number 
sum_even=0
sum_odd=0
for i in range(1,101):
    if i%2==0:
        sum_even+=i
    else:
        sum_odd+=i
print("The sum is:",sum_even)
print("The sum is:",sum_odd)

The sum is: 2550
The sum is: 2500

In [62]:
#using for loop with break
mydata=[1,2,3,4,5,6,7,8]
for i in mydata:
    if i==3:
        break
    print(i)

1
2

In [70]:
#using for loop with break
mydata=[1,2,3,4,5,6,7,8]
for i in mydata:
    print(i)
    if i==3:
        break

1
2
3

In [66]:
#using for loop with break
mydata=[1,2,3,4,5,6,7,8]
for i in mydata:
    if i==3:
        continue
    print(i)

1
2
4
5
6
7
8

In [68]:
#using for loop with break
mydata=[1,2,3,4,5,6,7,8]
for i in mydata:
    print(i)
    if i==3:
        continue

1
2
3
4
5
6
7
8

In [74]:
#get sum of all positive number
mynumber=[1,2,-3,4,-5,6]
sumofnumbers=0
for a in mynumber:
    if a<0:
        continue
    sumofnumbers+=a
print(f"Sum of positive numbers:{sumofnumbers}")

Sum of positive numbers:13

In [78]:
mytext="Lets learn Python"
for x in mytext:
    if x in "aeiouAEIOU":
        print(x)

e
e
a
o

In [80]:
#find cube of odd number
a=[1,2,3,4,5,6,7,8]
for x in a:
    if x%2==1:
        print(x**3,)

1
27
125
343

In [86]:
a=["apple","mango","peach"]
b=["red","blue","green"]
for x in a:
    if x=="peach":
        break
    print(x)
    for y in b:
        if y=="blue":
            continue
        print(y)

apple
red
green
mango
red
green

In [88]:
#making star pattern with nested for loop
a=int(input("Enter number of rows:"))
for i in range(a):
    for j in range(i+1):
        print("*",end=" ")
    print("\n")

Enter number of rows: 7

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

In [90]:
for a in range(2,3):
    for b in range(1,11):
        print(a,"*",b,"=",a*b)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20