#
thistuple=("apple")
print(type(thistuple))

In [3]:
#
thistuple=("apple")
print(type(thistuple))

<class 'str'>

In [5]:
#
thistuple=("apple",)
print(type(thistuple))

<class 'tuple'>

In [7]:
thistuple=tuple(("apple","banana","cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

In [9]:
thistuple=("apple","banana","cherry")
if "apple" in thistuple:
    print("Yes,'apple' is in the fruits tuple")

Yes,'apple' is in the fruits tuple

In [15]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [17]:
tuple1=("a","b","c")
tuple2=(1,2,3)
tuple3=tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [19]:
thistuple=("apple","banana","cherry")
y=("orange","mango")
thistuple+=y
print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'mango')

In [21]:
x='apple'
y='banana'
z='kiwi'
mytuple=(x,y,z)
print(mytuple)

('apple', 'banana', 'kiwi')

In [23]:
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [27]:
fruits=("apple","banana","cherry","strawberry","raspberry")
(green,yellow,*red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [29]:
fruits=("apple","banana","cherry")
mytuple=fruits*2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [31]:
thistuple=(1,3,7,8,7,5,4,6,8,5)
x=thistuple.count(5)
print(x)

2

In [33]:
thistuple=(1,3,7,8,7,5,4,6,8,5)
x=thistuple.index(8)
print(x)

3